:root {
    --main-principal: linear-gradient(180deg, #2193b0 0%, #6dd5ed 100%);
    --box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  }


body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f9fa;
}

.navbar, .footer {
    background: var(--main-principal);
    box-shadow: var(--box-shadow);
}


.navbar-brand{
    font-weight: bold;
}

.card {
    box-shadow: var(--box-shadow);
}

.btn-custom {
    background-color: #4a00e0;
    border: none;
}

.btn-custom:hover {
    background-color: #6900ce;
}